$mobile: 415;
$tablet: 821;
$hd: 1367;
$fhd: 1921;
$uhd: 3841;

$white: #fff;
$white-rgb: rgb(255, 255, 255);

$black: #000;
$black-rgb: rgb(0, 0, 0);

$red: #f00;
$red-rgb: rgb(255, 0, 0);

$orange: #ffa500;
$orange-rgb: rgb(255, 165, 0);

$yellow: #ff0;
$yellow-rgb: rgb(255, 255, 0);

$green: #0f0;
$green-rgb: 0, 255, 0;

$lightblue: #add8e6;
$lightblue-rgb: rgb(173, 216, 230);

$blue: #00f;
$blue-rgb: rgb(0, 0, 255);

$purple: #800080;
$purple-rgb: rgb(128, 0, 128);
